@model TherapyBuddy.Models.Therapist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Therapist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Role
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TherapistID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
