@model IEnumerable<TherapyBuddy.Models.ExerciseViewModel>
</br>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exercise)
        </th>
        <th>
            Exercise Region
        </th>
        <th>
            Exercise Type
        </th>
       
       
        <th>
            @Html.DisplayNameFor(model => model.VideoURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exercise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExerciseRegion.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExerciseType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoURL)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ExerciseViewModelID })  |
            @Html.ActionLink("Edit", "Edit", new { ExerciseViewModelID = item.ExerciseViewModelID })
        </td>
    </tr>
}

</table>
