@model TherapyBuddy.Models.AssignedImage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssignedImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExerciseImage.ImageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExerciseImage.ImageURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExerciseInstruction.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExerciseInstruction.Remark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssignedImageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
