@model TherapyBuddy.Models.ExerciseVideo

@{
 ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
 <h4>Exercise Video</h4>
 <hr />
 <dl class="dl-horizontal">
 <dt>
 @Html.DisplayNameFor(model => model.Exercise.Name)
 </dt>

 <dd>
 @Html.DisplayFor(model => model.Exercise.Name)
 </dd>

 <dt>
 Video URL
 </dt>

 <dd>
 @Html.DisplayFor(model => model.VideoURL)
 </dd>

 </dl>
</div>
<p>
 @Html.ActionLink("Edit", "Edit", new { id = Model.ExerciseVideoID }) |
 @Html.ActionLink("Back to List", "Index")
</p>