@model TherapyBuddy.Models.AssignedVideo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssignedVideo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExerciseInstruction.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExerciseInstruction.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExerciseVideo.VideoURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExerciseVideo.VideoURL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssignedVideoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
