@model IEnumerable<TherapyBuddy.Models.AssignedVideo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseInstruction.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseVideo.VideoURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExerciseInstruction.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExerciseVideo.VideoURL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssignedVideoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssignedVideoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssignedVideoID })
        </td>
    </tr>
}

</table>
